body {
    background-image: url('/resources/img/바다사자.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-button {
    display: inline-block;
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    background-color: #3366CC;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #1A478B;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F7F9FB;
    border: 1px solid #E3E9EF;
    color: #333333;

}

h2 {
    text-align: center;
    color: #333333;
}

form {
    margin-top: 20px;
}

table {
    width: 100%;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #E3E9EF;
    color: #333333;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    text-align: center;
    width: 100%;
    padding: 13px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    color: #333333;
    border: 1px solid #E3E9EF;
}

input[type="submit"] {
    background-color: #3366CC;
    color: #FFFFFF;
    cursor: pointer;
}

a {
    text-align: center;
    margin-top: 10px;
    color: #3366CC;
    text-decoration: none;
}