<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.susan.domain.entity.User"
                   alias="User" />
        <typeAlias type="com.susan.domain.dto.singupDto"
                   alias="singupDto"/>
        <typeAlias type="com.susan.domain.entity.SearchByKeyword"
                   alias="SearchByKeyword" />
        <typeAlias type="com.susan.domain.request.ShowDetailRequest"
                   alias="ShowDetailRequest" />
        <typeAlias type="com.susan.domain.entity.Product"
                   alias="Product" />
        <typeAlias type="com.susan.domain.entity.Store"
                   alias="Store" />
        <typeAlias type="com.susan.domain.entity.SearchByKeyword"
                   alias="SearchByKeyword" />
        <typeAlias type="com.susan.domain.request.ShowDetailRequest"
                   alias="ShowDetailRequest" />
    </typeAliases>
</configuration>