table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 8px;
    text-align: left;
}

td a {
    text-decoration: none;
    color: black;
}

td a.active {
    font-weight: bold;
    color: red;
}

td:not(:last-child) {
    padding-right: 3px;
}