
div span .h1 {
    border: solid black 1px;
    border-radius: 5px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: aqua;
}
div span {
    background-color: black;
}